
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #23242b;
	color: #fff;
}
.u-name {
	font-size: 20px;
	padding-left: 17px;
}
.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;

}
#admin{
	color: #fff;
}
.side-bar {
	width: 250px;
	background: #262931;
	min-height: 100vh;
	transition: 500ms width;
}
.body {
	display: flex;
}

.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 18px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
}
.side-bar ul li:hover {
	background: #127b8e;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 10px;
}

#navbtn {
	margin-left: 70px;
	font-size: 40px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}
ion-icon{
	font-size: 40px;
}

.stats{
	/* background-color: red; */
	width: 100%;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.card{
	margin: 20px;
	background-color: #23242b;
	width: 300px;
	height: 300px;
}


.card h2{
	color:#fff;
	text-align: center;
	margin: 20px;
}
.project-stats{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #127b8e;
	margin: 40px;
	font-size: 40px;
}
#view-btn{
	padding: 8px 20px;
	font-size: 18px;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-left: 100px;
}
#view-btn:hover{
	background-color: #127b8e;
	border: 1px solid #333;
	color: #fff;
}